<footer>
  <div class="footer-content">
     <img class="fit-picture-footer" src="/image/SecureCloudLogoV6.1_WhiteFonts.png" alt="Secure Cloud IT">
    <p>&copy; 2026 Secure Cloud IT.<br> All rights reserved.</p>
   </div>
</footer>
