<header>
    <nav class="navContainer">
        <a href="/">
        <img class="fit-picture" src="/image/SecureCloudLogoV5_B.png" alt="Secure Cloud IT">
        </a>
        <div class="navButtonLayout">
        <button class="navButton">Contact Us</button>

        <button class="menu-toggle" aria-label="Open Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

         <ul class="navList">
            <li><a href="/">Home</a></li>
            <li><a href="/Security">Security</a></li>
            <li><a href="/Collaboration">Collaboration</a></li>
            <li><a href="/Intelligence">Intelligence</a></li>
          </ul>

        </div>
    </nav>
</header>